body
{
	background: #25A9FC;
}

.box
{
	position: relative;
	margin: auto;
	display: block;
	margin-top: 8%;
	width: 600px;
	height: 420px;
	background: none;
	/* optional background or border */
	background: white;
	border: solid 4px red;
}